.texto{
color: red;
font-size: large;
}
.header{
width: 100%;
height: 30px;
background-color: #999
}
.footer{
width: 100%;
height: 30px;
background-color: #999
}
.body-container{
width: 100%;
height:100px;
}